*{
    margin: 0;
    padding: 0;
}
#preloader{
    background: black url(loader.gif) no-repeat center; 
    background-size: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
  
#myVideo{
    min-height: 100vh;
}

#container video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
}


@media (min-width:600px)  {
    #container video{ 
        object-fit: fill;
    }
}
